<!--<web-app id="WebApp_ID" version="2.4"-->
         <!--xmlns="http://java.sun.com/xml/ns/j2ee"-->
         <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
         <!--xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee-->
	<!--http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Spring MVC Application</display-name>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
    </context-param>

    <jsp-config>
        <taglib>
            <taglib-uri>customTag</taglib-uri>
            <taglib-location>/WEB-INF/tags/customTag.tld</taglib-location>
        </taglib>
    </jsp-config>

    <error-page>
        <error-code>404</error-code>
        <location>/wordpress/404.php</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/generic_error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>org.springframework.web.bind.MissingServletRequestParameterException</exception-type>
        <location>/wordpress/404.php</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/wordpress/404.php</location>
    </error-page>

    <servlet>
        <servlet-name>Content</servlet-name>
        <servlet-class>uk.ac.ebi.pride.web.util.servlet.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>8080</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Content</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Wordpress</servlet-name>
        <servlet-class>uk.ac.ebi.pride.web.util.servlet.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>reactomedev.oicr.on.ca</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/wordpress</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Wordpress</servlet-name>
        <url-pattern>/wordpress/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PathwayBrowser</servlet-name>
        <servlet-class>uk.ac.ebi.pride.web.util.servlet.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>reactomedev.oicr.on.ca</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/PathwayBrowser/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathwayBrowser</servlet-name>
        <url-pattern>/PathwayBrowser/*</url-pattern>
    </servlet-mapping>


    <!-- RESTFul WS PROXY Configuration (ONLY USED IN DEV MODE) -->
    <servlet>
        <servlet-name>ReactomeRESTfulAPI</servlet-name>
        <servlet-class>uk.ac.ebi.pride.web.util.servlet.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>reactomedev.oicr.on.ca</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/ReactomeRESTfulAPI/RESTfulWS</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReactomeRESTfulAPI</servlet-name>
        <url-pattern>/ReactomeRESTfulAPI/RESTfulWS/*</url-pattern>
    </servlet-mapping>

    <!-- Downloads (ONLY USED IN DEV MODE) -->
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>uk.ac.ebi.pride.web.util.servlet.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>reactomedev.oicr.on.ca</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/download/current/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download/current/*</url-pattern>
    </servlet-mapping>

</web-app>